<main class="main">
  <div class="inner">
    <div class="builder__wrapper">
      <p class="builder__hedding">
        <%= @builder.title%>
      </p>
      <%= link_to @builder.user.name, user_path(@builder.user), class: :builder__user %>
      <% if @builder.user.id == current_user.id%>
        <div class="builder__manage">
          <%= link_to "編集する", edit_builder_path(@builder.id), class: :builder__btn %>
          <%= link_to "削除する", builder_path(@builder.id),method: :delete, class: :builder__btn %>
        </div>
      <% end %>
      <div class="builder__image">
        <%= image_tag @builder.image %>
      </div>
      <div class="builder__body">
        <div class="builder__detail">
          <p class="detail__title">説明</p>
          <p class="detail__message">
            <%= @builder.description %>
          </p>
        </div>
        <div class="builder__detail">
          <p class="detail__title">競馬場(お気に入り)</p>
          <p class="detail__message">
            <%= @builder.place %>
          </p>
        </div>
      </div>
      <div class="builder__comments">
        <%if user_signed_in?%>
          <%= form_with model:[@builder,@comment] do |f|%>
            <div class="field">
              <%= f.label :text, "ライブチャット" %><br />
              <%= f.text_field :text, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "SEND", class: :form__btn  %>
            </div>
          <% end %> 
        <%end %>
        <ul class="comments_lists" id='comments' >
          <% @comments.reverse_each do |comment| %>
            <li class="comments_list">
              <%= link_to comment.user.name, user_path(@builder.user), class: :comment_user %>
              <%= comment.text%>
              <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S')%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
