<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Umatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("horse.logo.jpg", class: :logo), root_path %>
          </div>
          <%if user_signed_in?%>
            <div class="nav__right"> 
              <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: :nav__btn %>
              <%= link_to "POST", new_builder_path, class: :nav__btn %>
            </div> 
          <%else%>
            <div class="nav__right">
              <%= link_to "LOGIN", new_user_session_path, class: :nav__btn %>
              <%= link_to "SIGN UP", new_user_registration_path, class: :nav__btn %>
            </div>
          <%end%>
        </div>
        <%= image_tag("horse1.png",class: :horse1) %>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
     <%= image_tag("horse2.jpg",class: :horse2) %>
      <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
    </footer>
  </body>
</html>
