<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Umatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("horse.logo.jpg", class: :logo), root_path %>
          </div>
          <%if user_signed_in?%>
            <div class="nav__right"> 
              <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: :nav__btn,id: :out__btn %>
              <%= link_to "POST", new_builder_path, class: :nav__btn %>
            </div> 
          <%else%>
            <div class="nav__right">
              <%= link_to "LOGIN", new_user_session_path, class: :nav__btn %>
              <%= link_to "SIGN UP", new_user_registration_path, class: :nav__btn %>
            </div>
          <%end%>
        </div>
        <%= image_tag("horse1.png",class: :horse1) %>
        <ul class="menu">
        <li class="menu__single">
            <a href="#" class="init-bottom">DATA BASE</a>
            <ul class="menu__second-level">
                <li><%= link_to '日本中央競馬会(JRA)', 'https://www.jra.go.jp/' %></li>
                <li><%= link_to '地方競馬全国協会(NAR)', 'https://www.keiba.go.jp/' %></li>
                <li><%= link_to 'netkeiba.com', 'https://www.netkeiba.com/' %></li>
                <li><%= link_to '楽天競馬', 'https://keiba.rakuten.co.jp/' %></li>
            </ul>
        </li>
        <li class="menu__single">
            <a href="#" class="init-bottom">HORSE CLUB</a>
            <ul class="menu__second-level">
            <li><%= link_to 'シルクホースクラブ', 'https://www.silkhorseclub.jp/system/xb/silk_home.manage.Top' %></li>
            <li><%= link_to 'キャロットクラブ', 'https://carrotclub.net/' %></li>
            <li><%= link_to 'サンデーサラブレッドクラブ', 'https://www.sundaytc.co.jp/' %></li>
            <li><%= link_to 'G1サラブレットクラブ', 'https://www.g1tc.co.jp/' %></li>
            <li><%= link_to '社台サラブレットクラブ', 'https://www.shadaitc.co.jp/' %></li>
            <li><%= link_to '東京サラブレッドクラブ', 'http://www.tokyo-tc.com/' %></li>
            <li><%= link_to 'DMMバヌーシー', 'https://banusy.dmm.com/' %></li>
            </ul>
        </li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
     <%= image_tag("horse2.jpg",class: :horse2) %>
      <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
    </footer>
  </body>
</html>
